:root {
  --primary-text-color: #757575;
  --header-links-title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #2f303a;
}
/*--style logo--*/
.link-logo {
  color: #2196f3;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-upper {
  color: #000000;
}

.logo-down {
  color: #ffffff;
}
/*--del-points*/
ul {
  list-style: none;
}
/*--base-body-colors-font--*/
body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: var(--primary-text-color);
}

/*--style index*/
/*--header--*/
.header,
.header-link {
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-links-title-text-color);
}
.mail-link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.tel-link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.connect-list:hover,
.connect-list:focus {
  color: var(--accent-color);
}
.header {
  font-weight: 500;
  font-size: 1, 14;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--header-links-title-text-color);
}
/*--hero--*/
.hero-section {
  background-color: #2f303a;
  font-weight: 900;
  font-size: 1, 36;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  cursor: pointer;
  font-weight: bold;
  font-size: 1, 87;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-btn:hover {
  color: #212121;
}
.hero-btn:focus {
  color: #212121;
}
/*--advantages*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.advantages-title {
  font-weight: bold;
  font-size: 1, 14;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.advantages-posttitle {
  font-weight: normal;
  font-size: 1, 71;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*--what-we-do-section--*/
.what-do-title {
  font-weight: bold;
  font-size: 1, 16;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}
/*--our-team-section--*/
.our-team-title {
  font-weight: bold;
  font-size: 1, 16;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-item-posttitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 1, 18;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*--footer--*/
.footer {
  background-color: #2f303a;
}
.footer-item-adres {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 1, 71;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-item-adres:focus,
.footer-item-adres:hover {
  color: #ffffff;
}
.footer-item {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 1, 71;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-item:hover,
.footer-item:focus {
  color: #ffffff;
}

/*--portfolio--*/

/*--header-done-on-index.html--*/

/*--hero--*/
.btn-portfolio {
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1, 62;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.btn-portfolio:hover {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.projects-title {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 2, 00;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.projects-posttitle {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 1, 87;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*--footer-done-on-index.html--*/
