:root {
  --primary-text-color: #757575;
  --header-links-title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --hero-text-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.15);
}
/*--style logo--*/
.link-logo {
  color: #2196f3;
  text-decoration: none;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-upper {
  color: #000000;
}

.logo-down {
  color: #ffffff;
}
/*--del-points*/
ul {
  list-style: none;
}
/*--base-body-colors-font--*/
body {
  font-family: "Roboto", sans-serif;
  background: var(--hero-text-color);
  color: var(--primary-text-color);
}

/*--style index*/

/*--header--*/

.header-link {
  font-family: "Roboto";
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-links-title-text-color);
}
.mail-link,
.tel-link {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.connect-list:hover,
.connect-list:focus {
  color: var(--accent-color);
}

/*--hero--*/
.hero-section {
  background-color: var(--background-color);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
.hero-btn {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--header-links-title-text-color);
}

/*--advantages*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.advantages-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-links-title-text-color);
}
.advantages-posttitle {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*--what-we-do-section--*/
.what-do-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-links-title-text-color);
}
/*--our-team-section--*/
.our-team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-links-title-text-color);
}
.team-item-title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-links-title-text-color);
}
.team-item-posttitle {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*--footer--*/
.footer {
  background-color: var(--background-color);
}
.footer-item-adres {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-item-adres:focus,
.footer-item-adres:hover {
  color: var(--hero-text-color);
}
.footer-item {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-item:hover,
.footer-item:focus {
  color: var(--hero-text-color);
}

/*--portfolio--*/

/*--header-done-on-index.html--*/

/*--hero--*/
.btn-portfolio {
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1, 62;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.btn-portfolio:hover {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.projects-title {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 2, 00;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.projects-posttitle {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 1, 87;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*--footer-done-on-index.html--*/
