/*--style logo--*/
.link-logo {
  color: #2196f3;
}
.logo2 {
  color: black;
}

/*---Приховав "Наші переваги" в індекс----*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*--style index*/
body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}
/*--header--*/
.header-link:hover {
  color: #2196f3;
}
